/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainDiv {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.dialDiv {
  height: 160px;
    width: 125px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #3b3838, #000, #000, #3b3838);
    /* background-color: #000; */
}
.dialScreen {
  height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 23px;
    opacity: 1;
   
}
.analogDiv{
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 999;

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 24px;
}
.faceUIDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  justify-content: space-evenly;
  background-color: #000;
    border-radius: 10px;
}
::-webkit-scrollbar {
  display: none;
}
.faces {
  height: 30px;
    width: 30px;
    /* border: 1px solid black; */
}
.faces img {
  width: 100%;
}
 .numbersDiv {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.numbersDiv .numbers {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 12px;

}

.numbersDiv .numbers:nth-child(2) { transform: rotate(30deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(3) { transform: rotate(60deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(4) { transform: rotate(90deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(5) { transform: rotate(120deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(6) { transform: rotate(150deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(7) { transform: rotate(180deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(8) { transform: rotate(210deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(9) { transform: rotate(240deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(10) { transform: rotate(270deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(11) { transform: rotate(300deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(12) { transform: rotate(330deg) translate(0, -50px); }
.numbersDiv .numbers:nth-child(13) { transform: rotate(0deg) translate(0, -50px); }

.handsDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  background-color: #e0dede;
}

.hour-hand {
  width: 3px;
  height: 30px;
  transform-origin: 50% 100%;
  transform: rotate(4deg);
  position: absolute;
  top: 29%;
  border-radius: 50% 50% 0% 0%;
}

.minute-hand {
  width: 2px;
    height: 33px;
    transform-origin: 50% 100%;
    transform: rotate(241deg);
    position: absolute;
    top: 27%;
    border-radius: 50% 50% 0% 0%;
}

.second-hand {
  width: 1px;
  height: 38px;
  transform-origin: 50% 100%;
  transform: rotate(179deg);
  position: absolute;
  top: 24%;
  border-radius: 50% 50% 0% 0%;
}
.centerPoint {
  height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #e0dede;
    z-index: 1;
}
.buttonDiv {
  height: 26px;
    width: 7px;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 1px;
    top: -40px;
    background-image: repeating-linear-gradient(black, #535353 13%, #8c8c8c 11%);
    cursor: pointer;
}
.chargingDiv {
  height: 40px;
    width: 4px;
    border-radius: 0px 2px 2px 0px;
    position: relative;
    right: 10px;
    top: 26px;
    background-image: repeating-linear-gradient(#000000, #1a0e0e 13%, #000000 5%);
}
.menuDiv {
  height: 100%;
    width: 100%;
    color: #fff;
}
.menuDiv ul {
  margin: 0;
  padding: 7px;
}
.menuList {
  list-style-type: none;
    padding: 5px 0;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid #029202;
    color: #98bd91f0;
}
.brightnessDiv {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brightnessDiv input {
  transform: rotate(270deg);
}
input[type="range"] {
  -webkit-appearance: none; 
   appearance: none;
  /* background: #fff; */
  cursor: pointer;
  height: 25%;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 35px;
  width: 20px;
    background-color: #000;
    border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
.stopWatch {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #bcc9b5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.stopWatchHeading {
  font-size: 14px;
    color: #000000c9;
    text-align: center;
    margin: 0;
}
.numbers {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.milSeconds {
  font-size: 3.2rem;
  text-shadow: 0px 3px 2px #242323;
  color: #a9b5a3;
}
.hours, .minutes, .seconds {
  margin: 0 5px;
}
.btnDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
  cursor: pointer;
}
.start-stop, .reset {
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #3b3b3b;
  background: none;
  border: 1px solid #a9b5a3;
  font-size: 10px;
  padding: 2px 10px;
}
.strapTop {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-58%, -38%);
  height: 200px;
  width: 80px;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}
.strapBottom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-58%, 38%);
  height: 200px;
  width: 80px;
  z-index: -1;
  border-radius: 0 0 5px 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}
.all-time {
  letter-spacing: 3px;
    font-weight: 600;
}
.strap-select-left {
  position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 75px;
}
.strap-select-right {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 75px;
}
.strap-icon {
  height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.strap-icon:hover {
  transform: scale(1.25);
}
.strap-icon.active {
  border: 5px solid #032a07;
}